
/*	works*/
body {
	/*background: #E8E8E8;*/
}

.jumbotron {
	background-color: rgba(0, 0, 0, .3	) !important;
	background: url(../images/outside.jpg) center / cover no-repeat;
	background-blend-mode: color;
	color: #fff;
}

.footer {
	background-color: #d80032;
}

